# copy me to "vars.ps1" and change values to match your setup

# path to your AddonBuilder.exe
$addonBuilder = "I:\SteamLibrary\steamapps\common\Arma 3 Tools\AddonBuilder\AddonBuilder.exe";

# the directory you want your .pbo and .bisign files to go
$destination = "H:\Projects\arma3\project-harvest-dev\dist\addons";

# path to your .biprivatekey file for pbo signing
$privKey = "H:\Projects\arma3\tool_dscreatekey_10_bohemia_interactive\MSFIT.biprivatekey";
